<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 py-4 bg-light">
            <a routerLink="/lootbox" class="nav-link game-1">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Lootbox</h3></div>
                </div>
            </a>   
        </div>
        <div class="col-md-6 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
        <div class="col-md-4 mt-5 py-4 bg-light">
            <a routerLink="/" class="nav-link game-2">
                <div class="card bg-light">
                    <div class="card-body text-center" style="height: 100px;"><i class="fab fa-dropbox game-1"></i></div>
                    <div class="card-header"><h3>Proximamente</h3></div>
                </div>
            </a>  
        </div>
    </div>
</div>
