<section id="actions" class="py-4 mb-4">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>

<section id="terms-of-service">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <h1><strong>Terminos de servicio</strong></h1>
                    </div>
                    <div class="card-body">
                        <h2>§ 1 Disposiciones generales y definiciones</h2>
                        <h2>§ 2 Normas de funcionamiento del portal</h2>
                        <h2>§ 3 Cuentas de usuario y reglas de uso</h2>
                        <h2>§ 4 Tarifas para la cuenta VIP</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>